.root{
	highlight: #808080;
}

.gpane{
	-fx-background-color: highlight;
}


.button:hover{
	-fx-background-color: SKYBLUE;
}

.loggedin{
	-fx-font-size: 24px;
}

.lblPassword{
	-fx-font-size:  24px;
}

.lblUserName{
	-fx-font-size: 24px;
}